#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top:40px;
}
.header{
  height: 40px;
	line-height: 40px;
	background: #20a0ff;
	color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	text-indent: 5%;
	text-align: left;
}
.nav{
	min-height:100px;
	background: #fff;
}
.nav li{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;	
	cursor: pointer;
	background-color: #F2F6FC;
	font-size: 14px;
	color: #666;
	text-indent: -20px;	
}
.nav li:hover{
	color: #fff;
	background-color:#20a0ff;
}
.menu-title{
	width: 100%;
	height: 40px;
	background-color: #DCDFE6;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	text-indent: -20px;
	font-size: 14px;
	font-weight: bold;
	color: #666;
}
.float-right {
	float: right;
	padding-right: 5px;
	margin-top: 15px;
}
.pagebox{
	margin-top: 20px;
	float: right;
}
.contents{
  background: #fff;
}
.el-table__body-wrapper {
  overflow: hidden;
}
.nav-menu{
	height: 40px;
	line-height: 40px;
	background-color: #606266;
	color: #fff;
	font-size: 18px;
	font-weight: 200;
}
.table-menu{
  height: 40px;
	font-size: 12px;
	font-weight: 100;
	text-align: left;
	text-indent: 10px;
	line-height: 40px;
	background-color: #f1f1f1;
}
.login-box{
	width: 300px;
	height: 300px;
	padding: 20px;
	border: 1px solid #eee;
	border-radius: 5px;
	left: 50%;
	top: 50%;
	margin-top: -150px;
	margin-left: -150px;
	position: absolute;
}
.login-box input{
	margin-top: 10px;
}
.login-box  button{
	margin-top: 20px;
}
.system_box{
	width: 100px;
	height: 80px;
	border: 1px solid #eee;
	position: absolute;
	top: 42px;
	left: 83.33%;
	background: #fff;
	z-index: 1;
	padding: 20px 0;
	font-size: 12px;
}
.system_box li{
	border-bottom: 1px solid #eee;
	line-height: 40px;
}
.top_menu{
	height: 40px;
}
.system_btn{
	height: 40px;
	text-align: left;
	cursor: pointer;
}
.system_menu{
	float: left;
	line-height: 40px;
}
